<template>
  <div id="wrapper">
    <img id="logo" src="~@/assets/shopify-logo.png" alt="Shopify logo"><br/>
    <img id="logo" src="~@/assets/logo.png" alt="eletron-vue logo">
    <main>
      <div class="main-content">
        <h1 class="title">
          {{projectName}} Dashboard 
        </h1>
        <!--<system-information></system-information>-->
        <div class="doc">
          <p>
            Questo è un'applicativo desktop per gestire il tuo ecommerce Shopify che ti permette di aggiungere/editare contenuti custom (via API).
          </p>
          <span class="sub-title">Sito collegato:  <a @click="open(projectUrl)">{{projectUrl}}</a></span>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import SystemInformation from './LandingPage/SystemInformation'

  export default {
    data () {
      return {
        projectName: '',
        projectUrl: ''
      }
    },
    components: { SystemInformation },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      getShopData(){
        var query = `query {
          shop {
            name
            primaryDomain {
              url
            }
          }
        }`;
        var self = this;
        this.$http.post(
          'https://uikit-theme-development.myshopify.com/admin/api/graphql.json', query,{
            headers: {
              "X-Shopify-Access-Token": "283b54caca34f42b7efbaacf027d9bb7",
              "Content-Type": "application/graphql",
              "Cache-Control": "no-cache",
            }
          }
        )
        .then(function (response) {
          var shop = response.data.data.shop;
          self.$data.projectName = shop.name;
          self.$data.projectUrl = shop.primaryDomain.url;
        })
        .catch(function (error) {
            console.log(error);
        })
      }
    },
    beforeMount(){
      this.getShopData();
    }
  }
</script>

<style>
.doc {
  margin-top:40px;
}
.main-content {
  width:100%;
  margin-top:40px;
}
</style>
