<template>
  <div id="wrapper">
    <main>
      <div class="main-content">
        <h1 class="title">
          I tuoi Prodotti
        </h1>
        <div class="items">
          <li v-for="product in products" v-if="product.node.sku != ''">
            <div>
            <h4>{{ product.node.title }}</h4>
            <p>{{ product.node.description | subStr}}</p>
            <router-link v-bind:to="'/product/view/'+product.node.sku">Modifica Prodotto</router-link>
            <button class="redirect-to-site" @click="open(projectUrl+'/products/'+product.node.handle)"></button>
            </div>
          </li>
          <li v-for="product in products" v-if="product.node.sku == ''">
            <div>
            <h4>{{ product.node.title }}</h4>
            <p>Questo prodotto e le sue combinazioni non hanno uno sku assegnato, non puoi modificare le informazioni ad esso associate in Shopify</p>
            <button class="redirect-to-site" @click="open(projectUrl+'/products/'+product.node.handle)"></button>
            </div>
          </li>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        products: '',
        projectUrl: ''
      }
    },
    filters: {
    
      subStr: function(string) {
        return string.substring(0,50) + '...';
      }
    
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      getProductSkus(variants){
        var sku = '';
        for(var key in variants){
          sku = variants[key].node.sku;
        }
        return sku;
      },
      getProductList(){
    	  	var query = `query {
    		    shop {
              primaryDomain {
                url
              }
    		      products(first: 5) {
    		        edges {
    		          node {
                    title
                    description
    		            id
    		            handle
                    storefrontId
                    hasOnlyDefaultVariant
                    totalVariants
                    variants(first: 100) {
                      edges {
                        node {
                          sku
                        }
                      }
                    }
    		          }
    		        }
    		        pageInfo {
    		          hasNextPage
    		        }
    		      }
    		    }
    		}`;
        var self = this;
        this.$http.post(
          'https://uikit-theme-development.myshopify.com/admin/api/graphql.json', query,{
            headers: {
              "X-Shopify-Access-Token": "283b54caca34f42b7efbaacf027d9bb7",
              "Content-Type": "application/graphql",
              "Cache-Control": "no-cache",
            }
          }
        )
        .then(function (response) {
          self.$data.projectUrl = response.data.data.shop.primaryDomain.url;
          self.$data.products = response.data.data.shop.products.edges;
          for (var key in self.$data.products) {
            self.$data.products[key].node.sku = self.getProductSkus(self.$data.products[key].node.variants.edges);
          }
        })
        .catch(function (error) {
            console.log(error);
        })
      }
    },
    beforeMount(){
      this.getProductList();
    }
  }
</script>

<style>
  .main-content .items {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top:40px;
  }
  .main-content .items > li {
    width:33.33333%;
    list-style-type: none;
    padding:20px;
    position:relative;
  }
  .main-content .items > li > div{
    background: #fff;
    border-radius:5px;
    border:solid 1px #ccc;
    padding:20px;
    display: flex;
    flex-direction: column;
  }

  .main-content .items > li h4{
    text-transform: uppercase;
    font-size:16px;
    margin-bottom:18px;
    font-weight: bold;
    color:#000;
  }
  .main-content .items > li button.redirect-to-site{
    width: 60px;
    height: 60px;
    background: #5c6ac4;
    border:solid 5px #00084b;
    border-radius:100%;
    position:absolute;
    left:calc(100% - 60px);
    top:0px;
  }
  .main-content .items > li button.redirect-to-site:hover{
    background: #1c2260;
  }
  .main-content .items > li a{
    padding:20px 10px 20px 10px;
    background:#5c6ac4;
    border:solid 5px #00084b;
    border-radius:40px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    position:relative;
    margin-top:20px;
    cursor:pointer;
    outline: none !important;
  }
  .main-content .items > li a:hover {
    padding:20px 10px 20px 10px;
    background:#1c2260;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    position:relative;
  }
</style>
