<template>
  <div id="wrapper">
    <main>
      <div class="main-content">
        <h1 class="title">
          Modifica Prodotto
        </h1>
        <div>
          <item></item>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import Item from './Product/View'

  export default {
    components: { Item }
  }
</script>

<style>
.main-content {
  display:block;
  width:100%;
}
</style>
