<template>
    <main>
      <div class="main-content">
        <div>
          <label><span>Nome</span><input type="text" v-model="namespace"><span  v-if="nameError!==''" class="error-message">{{nameError}}</span></label>
          <label><span>Descrizione</span><textarea v-model="description"></textarea><span v-if="descriptionError!==''" class="error-message">{{descriptionError}}</span></label>
          <label><span>Valore</span><input v-if="valueType=='number'" min="0" type="number" v-model="value">
          <input v-if="valueType=='text'" type="text" v-model="value"><span  v-if="valueError!==''" class="error-message">{{valueError}}</span></label>
          <label><span>Tipo di Dato</span>
          <select name="valueType" v-model="valueType">
          	<option value="text">Testo</option>
          	<option value="number">Numerico</option>
          </select></label>
          <button @click="saveData()">Salva</button>
          <button @click="removeMetafield()">Rimuovi</button>
        </div>
      </div>
    </main>
</template>

<script>
export default {
  data () {
    return {
      description: '',
      namespace: '',
      key: '',
      value: '',
      valueType: 'text',
      nameError: '',
      valueError: '',
      descriptionError: ''
    } 
  },
  methods: {
    removeMetafield(){

      this.validateForm();
    	var isAlreadyMetafield = this.isAlreadyMetafield(this.$parent.$data.productData.metafields.edges);
      console.log(isAlreadyMetafield);
      if(isAlreadyMetafield >= 0){
    	 this.$parent.$emit('removeMetafield', isAlreadyMetafield);
      } else {
        this.$data.nameError = "Non esistono metafields con questo nome";
      }
    	
    },
    saveData(){
    	if(this.validateForm(true)){

    		var valueType = "INTEGER";
    		if(this.$data.valueType == "text"){
    			valueType = "STRING";
    		}

    		var metafieldId = null;

    		var isAlreadyMetafield = this.isAlreadyMetafield(this.$parent.$data.productData.metafields.edges);

    		if(isAlreadyMetafield >= 0){

    			metafieldId = this.$parent.$data.productData.metafields.edges[isAlreadyMetafield].node.id;

          var metafieldData = {
            "node":{
              "namespace": this.$data.namespace,
              "description": this.$data.description,
              "id": metafieldId,
              "key": this.$data.key,
              "valueType": valueType,
              "value": this.$data.value
            }
          };

          this.$parent.$data.productData.metafields.edges[isAlreadyMetafield] = metafieldData;

          this.$parent.$emit('updateMetafield', [isAlreadyMetafield, this.$parent.$data.productData]);

    		} else {

          var metafieldData = {
            "node":{
              "namespace": this.$data.namespace,
              "description": this.$data.description,
              "key": this.$data.key,
              "valueType": valueType,
              "value": this.$data.value
            }
          }

          this.$parent.$emit('addMetafield', metafieldData);

        }

    	}
    },
    isAlreadyMetafield(fields){

    	if(fields.length){
    		for(var key in fields){
    			if(fields[key].node.key == this.$data.key){
    				return key;
    			}
    		}
    	}
    	return -1;

    },
    validateForm(save = false){

    	var isValid = true;

  		if(this.$data.namespace != ""){
  			var name = this.$data.namespace;
  			this.$data.key = name.toLowerCase().replace(/\s/g, '-');
  			this.$data.nameError = "";
  		} else {
  			this.$data.nameError = "Devi inserire un nome";
  			isValid = false;
  		}

      if(save){
        if(this.$data.description != ""){
            this.$data.descriptionError = "";
        } else {
          this.$data.descriptionError = "Devi inserire una descrizione";
          isValid = false;
        }

    		if(this.$data.value != ""){

    			if(isNaN(this.$data.value) && this.$data.valueType == "number"){
    				this.$data.valueError = "Devi inserire un valore numerico valido";
    				isValid = false;
    			} else {
    				this.$data.valueError = "";
    			}

    		} else {
    			this.$data.valueError = "Devi inserire un valore";
    			isValid = false;
    		}
      }

    	return isValid;
    }
  }
}
</script>

<style>
  .product-view .metafields-container .metafields-form .main-content > div {
    display:flex;
    flex-direction:column;
  }
  .product-view .metafields-container .metafields-form .main-content > div label {
    width:100%;
    display:flex;
    flex-direction:column;
  }
  .product-view .metafields-container .metafields-form .main-content > div label input,
  .product-view .metafields-container .metafields-form .main-content > div label textarea {
    margin-left:20px !important;
    padding:20px;
    border-radius:5px;
    max-width:600px;
    width:100%;
  }
  .product-view .metafields-container .metafields-form .main-content > div label > span {
    width:100%;
    display:block;
    padding:10px 20px 10px 20px;
    text-transform: uppercase;
    font-size:18px;
    font-weight: 600;
  }

  .product-view .metafields-container .metafields-form .main-content > div select {
    padding:20px;
    max-width:600px;
    width:100%;
    margin-left:20px;
    background:#fff;
    border-radius:5px;
    font-size:18px;
    font-weight: 600;
    margin-bottom:40px;
  }

  .product-view .metafields-container .metafields-form .main-content > div button {
    padding:20px 10px 20px 10px;
    background:#fff;
    border:solid 5px #00084b;
    border-radius:40px;
    color:#00084b;
    text-decoration: none;
    text-transform: uppercase;
    position:relative;
    margin-top:20px;
    cursor:pointer;
    outline: none !important;
    max-width:600px;
    margin-left:20px;
    font-size:18px;
    font-weight: bold;
  }
  .product-view .metafields-container .metafields-form .main-content > div button:hover {
    padding:20px 10px 20px 10px;
    background:#1c2260;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    position:relative;
    font-weight: bold;
  }
  .error-message {
    color:#000;
    font-weight: bold;
  }
</style>