<template>
  <div>
    <div class="product-view">
      <div class="image-container">
        <img v-bind:src="productData.image" v-bind:alt="productData.title" width="300" height="300"/>
      </div>
      <div class="data-container">  
        <h2>{{productData.title}}</h2>
        <p>{{productData.description}}</p>
      </div>
      <div class="metafields-container">  
        <h2>Campi Custom</h2>
        <div v-if="productMetafields != ''">
          <li v-for="metafield in productMetafields">
            <h3>{{metafield.node.namespace}} [{{metafield.node.key}}: {{metafield.node.valueType}}]</h3>
            <p class="description">
              {{metafield.node.description}}
            </p>
            <p class="value">
            {{metafield.node.value}}
            </p>
          </li>
        </div>
        <div class="metafields-form">
          <p class="metafield-description">Aggiungi o modifica le spedifiche dei campi custom di prodotto</p>
          <metafield-editor></metafield-editor>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MetafieldEditor from './View/MetafieldEditor'

var metafieldEditor = MetafieldEditor;

  export default {
    data () {
      return {
        path: this.$route.path,
        sku: this.$route.params.sku,
        productData: '',
        productMetafields: '',
        oldProductData: '',
        editorButtonClass: 'disabled'
      } 
    },
    components: { MetafieldEditor },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      removeMetafield(index){

        var self = this;
        var metafieldId = this.$data.productData.metafields.edges[index].node.id;

        var query = `mutation {
          metafieldDelete(input: {id: "`+metafieldId+`"}) {
              userErrors {
                field
                message
              }
              deletedId
          }
        }`;

        this.$http.post(
          'https://uikit-theme-development.myshopify.com/admin/api/graphql.json', query,{
            headers: {
              "X-Shopify-Access-Token": "283b54caca34f42b7efbaacf027d9bb7",
              "Content-Type": "application/graphql",
              "Cache-Control": "no-cache",
            }
          }
        )
        .then(function (response) {
          self.$data.productData.metafields.edges.splice(index,1).pop();
          self.$data.productMetafields = '';
          self.$data.productMetafields = self.$data.productData.metafields.edges;
        })
        .catch(function (error) {
          console.log(error);
        })


      },
      addMetafield(index){
        var self = this;
        var query = {
          id: this.$data.productData.id
        };
        query.metafields = this.$data.productData.metafields.edges[index].node;

        var stringifiedInput = stringifyObject(query, { indent: '  ',singleQuotes: false });

        stringifiedInput = stringifiedInput.replace('"STRING"','STRING').replace('"INTEGER"','INTEGER');

        var query = `mutation {
          productUpdate(input: `+stringifiedInput+`) {
            userErrors {
              field
              message
            }
            product {
              id
            }
          }
        }`;

        this.$http.post(
          'https://uikit-theme-development.myshopify.com/admin/api/graphql.json', query,{
            headers: {
              "X-Shopify-Access-Token": "283b54caca34f42b7efbaacf027d9bb7",
              "Content-Type": "application/graphql",
              "Cache-Control": "no-cache",
            }
          }
        )
        .then(function (response) {

        })
        .catch(function (error) {
          console.log(error);
        })

      },
      updateMetafield(index, updatedData){
        var self = this;
        var query = {
          id: this.$data.productData.id
        };
        query.metafields = this.$data.productData.metafields.edges[index].node;

        var stringifiedInput = stringifyObject(query, { indent: '  ',singleQuotes: false });

        stringifiedInput = stringifiedInput.replace('"STRING"','STRING').replace('"INTEGER"','INTEGER');

        var query = `mutation {
          productUpdate(input: `+stringifiedInput+`) {
            userErrors {
              field
              message
            }
            product {
              id
            }
          }
        }`;

        this.$http.post(
          'https://uikit-theme-development.myshopify.com/admin/api/graphql.json', query,{
            headers: {
              "X-Shopify-Access-Token": "283b54caca34f42b7efbaacf027d9bb7",
              "Content-Type": "application/graphql",
              "Cache-Control": "no-cache",
            }
          }
        )
        .then(function (response) {
            self.$data.productMetafields = '';
            self.$data.productMetafields = updatedData;
        })
        .catch(function (error) {
          console.log(error);
        })

      },
      getProductData(){
        var self = this;
          var query = `query {
              shop {
                products(first: 1, query: "sku:'`+self.$data.sku+`'") {
                  edges {
                    node {
                      title
                      id
                      handle
                      storefrontId
                      description
                      images(first: 1) {
                        edges {
                          node {
                            originalSrc
                          }
                        }
                      }
                      metafields(first: 100) {
                        edges {
                          node {
                            description
                            id
                            key
                            namespace
                            value
                            valueType
                          }
                        }
                      }
                    }
                  }
                }
              }
          }`;
          this.$http.post(
            'https://uikit-theme-development.myshopify.com/admin/api/graphql.json', query,{
              headers: {
                "X-Shopify-Access-Token": "283b54caca34f42b7efbaacf027d9bb7",
                "Content-Type": "application/graphql",
                "Cache-Control": "no-cache",
              }
            }
          )
          .then(function (response) {
            self.$data.productData = response.data.data.shop.products.edges[0].node;
            self.$data.productMetafields = self.$data.productData.metafields.edges;

            if(response.data.data.shop.products.edges[0].node.images.length){
              self.$data.productData.image = response.data.data.shop.products.edges[0].node.images.edges[0].node.originalSrc;
            } else {
              self.$data.productData.image = "http://via.placeholder.com/300x300";
            }

          })
          .catch(function (error) {
              console.log(error);
          })
        }
      
    },
    created() {
      var self = this; 
      this.$on('updateMetafield', metafieldInfo => {
        this.$data.productData = metafieldInfo[1]; 
        this.updateMetafield(metafieldInfo[0],this.$data.productData.metafields.edges);
      });
      this.$on('addMetafield', metafield => {
        this.$data.productData.metafields.edges.push(metafield);
        this.$data.productMetafields = this.$data.productData.metafields.edges;
        this.addMetafield(this.$data.productData.metafields.edges.length - 1);
      });
      this.$on('removeMetafield', metafieldIndex => {
        this.removeMetafield(metafieldIndex);
      });
    },
    beforeMount(){
      this.getProductData();
    }
  }
</script>

<style scoped>
  .product-view {
    display:flex;
    flex-wrap: wrap;
    margin-top:40px;
  }
  .product-view .image-container, .product-view .data-container {
    width:50%;
    padding:30px;
  }
  .product-view .image-container {
    text-align:right;
  }
  .product-view .data-container {
    text-align:left;
  }
  .product-view .metafields-container {
    text-align:left;
    width:100%;
    background:#fff;
    border: solid 1px #ccc;
    padding:30px;
    border-radius:5px;
    margin-top:40px;
  }
  .product-view .metafields-container h2 {
    text-align:center;
  }
  .product-view .metafields-container li {
    list-style-type: none;
    border-top:solid 2px #5c6ac4;
    text-align:center;
    padding:20px;
    margin-top:30px;
    text-align:left;
  }
  .product-view .metafields-container li .description{
    font-size:12px;
    color:#000;
  }
  .product-view .metafields-container li .value{
    font-size:16px;
    color:#000;
  }
  .product-view .metafields-container .metafields-form {
    padding:30px;
    background:#5c6ac4;
    color:#fff;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
    border-top: solid 4px #1c2260;
    margin-top:30px;
    display:flex;
    flex-direction:column;
  }
  .product-view .metafields-container .metafield-description {
    padding:30px;
    font-size:20px;
  }
</style>
